/networks_and_trajectories_var3.RData
/networks_and_trajectories_var4.RData
/networks_and_trajectories_var5.RData
/networks_and_trajectories_var6.RData
/networks_and_trajectories_var10.RData
/networks_and_trajectories_var15.RData
/networks_and_trajectories_var20.RData
/Ckl_distribution.RData
